@model PagedList.IPagedList<BuildingShop.Models.Заказ>
@using PagedList.Mvc;

<div class="loader"></div>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Заказы";
}

<script src="~/Scripts/Custom/NotificationScript.js"></script>
<script src="~/Scripts/Custom/LoaderScript.js"></script>

<h2>Заказы</h2>

<p>
    @Html.ActionLink("Добавить заказ", "Create", new { }, new { @class = "my-custom-link" })
    <button class="my-custom-link" onclick="window.print();">Печать</button>
</p>


@using (Ajax.BeginForm("OrderPartialView", "Заказ",
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "divOrders"
    }, new
    {
        id = "NewTableId"
    }
    ))
{
    <p>
        Поиск: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @id = "searchInput", @oninput = "performSearch()", @class = "form-control" })
    </p>
}
<div id="divOrders">
    @Html.Action("OrderPartialView")
    @Html.Raw(ViewBag.Data)
</div>


<script>
        function performSearch() {
    var searchString = $("#searchInput").val();
    if (searchString.length > 0) {
        $.ajax({
            url: '@Url.Action("OrderPartialView", "Заказ")',
            type: 'POST',
            data: { searchString: searchString },
            success: function (data) {
                $('#divOrders').html(data);
                $('.loader').fadeOut();
            }
        });
    } else {
        $('#divOrders').load('@Url.Action("OrderPartialView", "Заказ")');
    }
}
</script>
