@model BuildingShop.Models.Товар

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование товара</h2>


@using (Html.BeginForm("Edit", "Товар", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>№@Model.id</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Наименование, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Наименование, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Наименование, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Описание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Описание, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Описание, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Категория
            <div class="col-md-10">
                @Html.DropDownList("id_категории", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_категории, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Цена, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Цена, new { htmlAttributes = new { @class = "form-control", data_val_number = "Введите корректное число" } })
                @Html.ValidationMessageFor(model => model.Цена, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Количество, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Количество, new { htmlAttributes = new { @class = "form-control", data_val_number = "Введите корректное число" } })
                @Html.ValidationMessageFor(model => model.Количество, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Страна_производитель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Страна_производитель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Страна_производитель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Производитель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Производитель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Производитель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Изображение", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" accept=".jpg,.png" class="form-control" id="prodImg" />
                <div id="imgDiv" class="card-img mt-3">
                    <img src=@Url.Content("~/ProductImages/" + Model.id + ".jpg") id="imageIcon" style="max-height:300px;max-width:300px;" />
                </div>
            </div>
        </div>

        <p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="my-custom-button" />
                    @Html.ActionLink("Назад", "Index", new { }, new { @class = "my-custom-link" })
                </div>
            </div>
        </p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
        function checkImageExists(image_url, callback) {
    var img = new Image();
    img.onerror = function () {
        callback(false);
    };
    img.onload = function () {
        callback(true);
    };
    img.src = image_url;
}

let img = "@Url.Content("~/ProductImages/" + Model.id + ".jpg")"
console.log(img.src);

checkImageExists(img, function (exists) {
    if (exists) {
        console.log("Изображение существует");
    } else {
        document.getElementById('imgDiv').style.display = 'none';
    }
});
</script>
